*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}

.contents{
	width:960px;
	margin:50px auto;
}

.content-box{
	width:300px;
	float:left;
	position:relative;
	border:1px solid #dcdcdc;
	padding:10px;
}

.content-image1{
	width:280px;
	height:150px;
	background-image:url(imgs/img9/flow01.png);
	background-size:cover;
	background-position: bottom;
	
}

.content-image2{
	width:280px;
	height:150px;
	background-image:url(imgs/img9/flow02.png);
	background-size:cover;
	background-position: bottom;
	
}

.content-image3{
	width:280px;
	height:150px;
	background-image:url(imgs/img9/flow03.png);
	background-size:cover;
	background-position: bottom;
	
}

.step{
	width:50px;
	line-height:30px;
	text-align:center;
	background-color: orange;
	color:white;
	position:absolute;
	top:0;
	left:0;
}

.content-text h3{
	margin:15px 0 10px 0;
}

.content-box:nth-child(1),
.content-box:nth-child(2){
	margin-right:30px;
}